<a 
	class="card dashboard-card mb-2 py-2"
	href="/mod/{{{modName}}}/view.php?id={{{id}}}"
>
	<div class="card-body course-info-container">
		<div class="d-flex align-items-center">
			<div class="d-flex align-self-center">
				<img alt="Course Resource Icon" class="icon" src="{{{iconUrl}}}" />
			</div>
			<div class="w-100 line-height-3 ml-2">
				<h6 class="mb-0">{{name}}</h6>
			</div>
		</div>
	</div>
</a>