<section class="block" style="margin: 0 -5px 3em -5px; padding: 0;">
	<div class="header">
		<div class="title">
			<h2 class="d-inline">
				{{title}}
			</h2>
		</div>
	</div>
	<div class="content">
		<div class="container-fluid p-0">
			<div class="card-deck dashboard-card-deck">
				{{#items}}
					<div class="card dashboard-card">
						<a href="{{{linkUrl}}}">
							<div
								class="card-img dashboard-card-img"
								style="background-image: url('{{{imageUrl}}}');"
							>
							</div>
						</a>
						<div class="card-body course-info-container">
							<div class="d-flex align-items-start">
								<div class="w-100">
									<a class="aalink coursename mr-2" href="{{{linkUrl}}}" style="font-size: 1.2em;">
										<span class="multiline">
											{{title}}
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				{{/items}}
			</div>
		</div>
	</div>
</section>